*.zip
# *.json.zip from https://github.com/scriptin/jmdict-simplified/releases
# TODO: jmdict.db build script
jmdict.db

manifest.json
# vibrato-rkyv dicts from https://github.com/stellanomia/vibrato-rkyv/releases/tag/v0.6.2
system.dic.zst
